
# Ignore editor and IDE files
.vscode/
.idea/

# Ignore build artifacts
*.log
*.tmp
*.bak

# Ignore Docker-related files
.dockerenv


# Tools
.build-harness
build-harness/

# Ignore Docker cache files
.docker/

# Ignore Docker Compose files
docker-compose.yml
docker-compose.yaml
docker-compose.override.yml
docker-compose.override.yaml